body {
  background-color: #ADBC9F;\
  background-repeat: no-repeat;\
  background-attachment: fixed;\
}

h1 {
  font-family: Arial;
  color: #12372A;
  text-align: center;
  border: 2px solid brown;
  padding: 10px;
}

h2 {
  font-family: Brush Script MT;
  font-size: 40px;
  color: #436850;
}

p {
  font-family: verdana;
  font-size: 15px;
  color: white; 
}
